<main>
  <section>
    <h1>NgFeatureTour</h1>

    <button type="button" (click)="startTour()">iniciar tour</button>

    <div class="feature-list">
      <article class="feature" id="feature-easy">
        <img src="/assets/img/easy.png" alt="easy" />
      </article>
      <article class="feature" id="feature-customizable">
        <img src="/assets/img/customizable.png" alt="easy" />
      </article>
      <article class="feature" id="feature-accessible">
        <img src="/assets/img/accessible.png" alt="easy" />
      </article>
    </div>
  </section>
</main>

<ng-feature-tour [steps]="steps"></ng-feature-tour>
