<ng-feature-tour #step [steps]="steps" (onChange)="onChange($event)">
</ng-feature-tour>

<main class="wrapper">
  <section>
    <h1>NgFeatureTour</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni cum
      consectetur dolores incidunt sed! Blanditiis consequuntur beatae
      laboriosam magni facilis cum minus quas? Nisi asperiores ratione quaerat,
      molestiae harum velit.
    </p>

    <button type="button" class="btn btn-primary" (click)="start()">
      Start Tour
    </button>
  </section>

  <section>
    <div class="feature-list">
      <article class="feature" id="featureEasy">
        <img src="/assets/img/easy.png" alt="easy" />
      </article>
      <article class="feature" id="featureCustomizable">
        <img src="/assets/img/customizable.png" alt="easy" />
      </article>
      <article class="feature" id="featureAccessible">
        <img src="/assets/img/accessible.png" alt="easy" />
      </article>
    </div>
  </section>
</main>
